APP_NAME=RUN-TRANSCRIPT
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=run_transcript
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

DOMPDF_ENABLE_REMOTE=true

EXTERNAL_DB_HOST=127.0.0.1
EXTERNAL_DB_PORT=3306
EXTERNAL_DB_DATABASE=
EXTERNAL_DB_USERNAME=
EXTERNAL_DB_PASSWORD=

# Remita Payment Gateway
REMITA_MERCHANT_ID=
REMITA_API_KEY=
REMITA_BASE_URL=https://demo.remita.net/remita/ecomm
REMITA_INIT_URL=https://remitademo.net/remita/exapp/api/v1/send/api/echannelsvc/merchant/api/paymentinit
REMITA_INLINE_SCRIPT=https://remitademo.net/payment/v1/remita-pay-inline.bundle.js
REMITA_INLINE_KEY=
REMITA_ST_SOFT=
REMITA_ST_WES=
REMITA_ST_NIGERIA=
REMITA_ST_AFRICA=
REMITA_ST_AMERICA=
REMITA_ST_ASIA=
REMITA_ST_AUSTRALIA=
REMITA_ST_EUROPE=
REMITA_ST_CANADA=
REMITA_ST_DEGREE=

# Flutterwave Payment Gateway
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
